{% extends "layout.html" %}
{% block title %}Index {{user.nickname}} {% endblock %}


{% block head %}
  {{ super() }}
<!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/signin.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/inputgroup.css') }}" rel="stylesheet">

{% endblock %}

<style type="text/css">
    .important { color: #336699; }
</style>


{% block content %}



	  <!--
	  <h1>Index {{user.nickname}}</h1>
      // <p class="important">
	  //    Welcome on my awesome homepage 3.
	  //    <form id="decodeHex" action="/output" >
      //      Enter hexidecimal code: <input type="text" name="hexcode" value=""><input type="submit" id="hexbutton" value="Submit">
      //      <input type="hidden" name="username" value="{{user.nickname}}">


        //   </form>
      -->
<div class="container" >

    <div class="starter-template">

    </div>
    <br>

      <form class="form-signin" id="decodeHex" action="/output" >
        <h2 class="form-signin-heading">Beacon Message Decoder</h2>
        <label for="inputhexcode" class="sr-only">Enter hexidecimal code</label>
          <div class="input-group" data-validate="hex">
        <input type="text" name="hexcode" id="inputhexcode" class="form-control" placeholder="Enter hexidecimal code" required autofocus>
          <span class="input-group-addon danger"><span class="glyphicon glyphicon-remove"></span></span>
          </div>
        <input type="hidden" name="username" value="{{user.nickname}}">
        <input type="hidden" id="statuscheck" name="status" value="result">

        <button class="btn btn-lg btn-primary btn-block" type="submit" id="hexbutton" disabled>Submit</button>
          <br>
          <div class="modal-body" style="padding:0px">
          <span class="error-log"><br><div id="hexAlert" class="alert alert-danger collapse" role="alert" >
              <a id="linkClose" href="#" class="close" >&times;</a>
              <strong>Error! </strong><div id='echoResult'></div></div></span>
          </div>
      </form>

</div>
<div class="container" >

<div class="modal-body" style="padding:0px">
    <p class="lead">Welcome to the new Cospas-Sarsat Beacon Decoder. Use this online tool to quickly decode a hexidecimal message.<br> </p>
      </div>
</div> <!-- /container -->

{% endblock %}

{% block scripts %}
{{ super() }}


<script type=text/javascript>
function submitcode(){
    var $form = $(this).closest('form');
    $form.find(':input[type="submit"]').prop('disabled',false);
    $("#decodeHex").submit()
}
</script>



<!-- <script type=text/javascript> 
$(document).ready(function(){
$('#inputhexcode').on('keyup change',function()
        {var $form = $(this).closest('form');
        $.getJSON
            ($SCRIPT_ROOT+'/validatehex', {hexcode: $('input[name="hexcode"]').val()},function(data)
                {$("#statuscheck").text(data.echostatus);
                if(data.echostatus=='valid'){$form.find(':input[type="submit"]').prop('disabled', false);
                $("#echoResult").text("");}
                else{
                   $form.find(':input[type="submit"]').prop('disabled', true);
                   $("#echoResult").text(data.message);
                   $('#echoResult').show();

                    }
                }
            );
             return false;
        }
    ); //end bind


}
);  </script>-->

<script type=text/javascript>
 
$(document).ready(function(){
$('#inputhexcode').on('keyup change',function()
        {var $form = $(this).closest('form'),
        $group = $(this).closest('.input-group'),
		$addon = $group.find('.input-group-addon'),
		$icon = $addon.find('span');
        $.getJSON
            ($SCRIPT_ROOT+'/validatehex', {hexcode: $('input[name="hexcode"]').val()},function(data)
                {$("#statuscheck").text(data.echostatus);
                if(data.echostatus=='valid'){
                        $form.find(':input[type="submit"]').prop('disabled', false);
                        $addon.removeClass('danger');
				        $addon.addClass('success');
				        $icon.attr('class', 'glyphicon glyphicon-ok');
                        $("#echoResult").text("");
                        $('#hexAlert').hide('fade');
                        }

                else{
                        $form.find(':input[type="submit"]').prop('disabled', true);
                        $("#echoResult").text(data.message);
                        $addon.removeClass('success');
				        $addon.addClass('danger');
				        $icon.attr('class', 'glyphicon glyphicon-remove');
				        $('#hexAlert').show('fade');
				        setTimeout(function(){
                            $('#hexAlert').hide('fade');
                            },5000);


                    }
                }
            );
             return false;
        }
    ); //end bind

        $('#linkClose').click(function(){
            $('#hexAlert').hide('fade');
         });
         $('#hexbutton').mousedown(function(){
        var mb=$("#statuscheck").text();
        var $form = $(this).closest('form');
        if(mb=='valid'){
        $form.find(':input[type="submit"]').prop('disabled', false);
        }});


}
);  </script>


{% endblock %}

<!--
<script type=text/javascript>function submitcode(){$("#decodeHex").submit();}</script>
<script type=text/javascript> $(function()
{$('#hexbutton').bind
    ('click',function()
        {$.getJSON
            ($SCRIPT_ROOT+'/validatehex', {hexcode: $('input[name="hexcode"]').val()},function(data)
                {$("#echoResult").text(data.echostatus);
                if(data.echostatus=='valid'){submitcode();}else{ $("#echoResult").text(data.echostatus + ' not good');}
                }
            );
             return false;
        }
    ); //end bind
}
);  </script>
-->