{% extends "layout.html" %}
{% block title %}Decoded Beacon {% endblock %}
{% block head %}
  {{ super() }}


<!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/signin.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/inputgroup.css') }}" rel="stylesheet">

      {% endblock %}
 {% block content %}


<div class="container">
  <h2>Decoded Beacon Message</h2>
  <p>The hex code decoded is: <strong>{{hexcode}}</strong></p>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Bit Ranges</th>
        <th>Binary value</th>
        <th>Name</th>
		<th>Description</th>
      </tr>
    </thead>
    <tbody>
	{% for item in decoded %}
      <tr>
		  {% for cell in item %}
        <td>{{cell}}</td>
        {% endfor %}
      </tr>
	{% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}


